.status_bar {
	text-align: center;
	font-size: 14px;
	padding: 2%;
}
.status_bar span{
	line-height: 30px;
	height: 30px;
	font-size: 16px;
}
.status_bar select{
	height: 30px;
	float: right;
}
#customs {
	padding: 1% 5%;
}
#customs li {
	list-style:none;
	border-bottom: 1px solid #aaa;
}
.cus_info span{
	display: -webkit-inline-box;
	padding: 1% 0;
    width: 48%;
}
.mark{
    margin: 2% 0;
}
.btns{
    text-align: center;
    padding: 2%;
}
.btns input{
	padding: 1% 5%;
	margin: 5% 10%;
}
.top_bar{
    text-align: center;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
}
.back{
    float: left;
    height: 30px;
    padding: 0 2%;
}