.status_bar {
	text-align: right;
	font-size: 14px;
	padding: 2%;
}
.status_bar span{
	float: left;
}
#customs {
	padding: 1% 5%;
}
#customs li {
	list-style:none;
	border-bottom: 1px solid #aaa;
}
.cus_info span{
	display: -webkit-inline-box;
	padding: 1% 0;
    width: 48%;
}
.mark{
    margin: 2% 0;
}
.btns{
    text-align: center;
    padding: 2%;
}
.btns input{
	padding: 1% 5%;
	margin: 5% 10%;
}